<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Cars List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style="background-color: #333; color: #fff;">
    <div class="container-lg" style="text-align: center;">
        	<h1>Cars</h1>
        <table class="table table-dark table-striped" style="margin: 0 auto;">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Body</th>
                    <th>Engine</th>
                    <th>Power (HP)</th>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cars : ${carsList}">
                    <td th:text="${cars.brand}"></td>
                    <td th:text="${cars.model}"></td>
                    <td th:text="${cars.year}"></td>
                    <td th:text="${cars.body}"></td>
                    <td th:text="${cars.engine}"></td>
                    <td th:text="${cars.powerHp}"></td>
                    <td th:text="${cars.price} + '€'"></td>
                    <td th:text="${cars.color.name}"></td>
                    <td>
    					<a th:href="@{/delete/{id}(id=${cars.id})}" class="btn btn-danger" >Delete</a>
    					<a th:href="@{/editcars/{id}(id=${cars.id})}" class="btn btn-primary" >Edit</a>
					</td>

                </tr>
            </tbody>
        </table>
        <br />
        <a th:href="@{/addcars}" class="btn btn-outline-success">Add Car</a>
    </div>
</body>
</html>
