<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style="background-color: #333; color: #fff;">
    <div class="container" style="text-align: center;">
        <h1>Edit Car</h1>
        <br />
	        <form th:object="${cars}" th:action="@{/save}" method="post" style="text-align: center;">
	
	            <input type="hidden" th:field="*{id}" class="form-control" />
	
	            <label for="brand" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Brand</label>
	            <input type="text" id="brand" th:field="*{brand}" th:style="${'display: block; margin: 0 auto; width: 30%; text-align: center;'}" />
	            <br />
	            <label for="model" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Model</label>
	            <input type="text" id="model" th:field="*{model}" th:style="${'display: block; margin: 0 auto; width: 30%; text-align: center;'}" />
	            <br />
	            <label for="year" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Year</label>
	            <input type="text" id="year" th:field="*{year}" th:style="${'display: block; margin: 0 auto; width: 30%; text-align: center;'}" />
	            <br />
	            <label for="body" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Body</label>
	            <input type="text" id="body" th:field="*{body}" th:style="${'display: block; margin: 0 auto; width: 30%; text-align: center;'}" />
	            <br />
	            <label for="engine" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Engine</label>
	            <input type="text" id="engine" th:field="*{engine}" th:style="${'display: block; margin: 0 auto; width: 30%; text-align: center;'}" />
	            <br />
	            <label for="powerHp" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Power (HP)</label>
	            <input type="text" id="powerHp" th:field="*{powerHp}" th:style="${'display: block; margin: 0 auto; width: 30%; text-align: center;'}" />
	            <br />
	            <label for="price" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Price</label>
	            <input type="text" id="price" th:field="*{price}" th:style="${'display: block; margin: 0 auto; width: 30%; text-align: center;'}" />
	            <br />
	            <label for="colorlist" th:style="${'display: block; margin-bottom: 10px; text-align: center;'}">Color</label>
	            <select id="colorlist" th:field="*{color}" class="form-control" th:style="${'width: 30%; margin: 0 auto; text-align: center;'}">
	                <option th:each="color: ${colors}" th:value="${color.colorid}" th:text="${color.name}"></option>
	            </select>
	
	            <br />
	            <div style="margin-top: 10px;">
	                <a th:href="@{/cars}" class="btn btn-danger">Cancel</a>
	                <input type="submit" value="Save" class="btn btn-success" />
	            </div>
	        </form>
        <br />
        <a th:href="@{/cars}" class="btn btn-outline-primary">Back to Cars List</a>
    </div>
</body>
</html>
